@font-face {
    font-family: pixel;
    src: url(../fonts/joystix_monospace.otf);
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

h1 {    
    font-size: 3rem;
    font-family: pixel;
    text-align: center;
    width: 1000px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
    background-color: #06b6d4;
    padding: 0.5rem;
    border: 3px solid red;
}

.top-panel {
    display: none;
    font-family: pixel;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.playerTurn {
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.85);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

#x {
    color: red;
}

#o {
    color: blue;
}

.wrapper-board {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-items: center;
    align-items: center;
    font-family: pixel;
    font-size: 8rem;
    color: #f59e0b;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.925);
    flex-grow: 3;
}

img {
    height: 150px;
    width: 150px;
}

.field {
    height: 200px;
    width: 200px;
    border: 2px solid #06b6d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBtn {
    align-items: center;
    height: 50px;
    width: 200px;
    font-size: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    font-family: pixel;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.menuBtn:hover,
.menuBtn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    /* color: rgba(0, 0, 0, 0.65); */
}

.menuBtn:hover {
    transform: translateY(-1px);
}

.menuBtn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.subMenu {
    display: flex;
    gap: 2rem;
}

.menu {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem;
}